@page "/about"
<div class="full-size" style="overflow-y:scroll">
    <div style="height:30%">
        <MudImage Src="/img/DK20_Logo_2.svg" />
    </div>
    <MudText Align="Align.Center" Typo="Typo.h4">presents</MudText>
    <MudText Align="Align.Center" Typo="Typo.h2">CoastR</MudText>
    <MudText Align="Align.Center" Typo="Typo.h4">by</MudText>
    <MudText Align="Align.Center" Typo="Typo.h3">Christian Boland</MudText>
    <MudText Align="Align.Center" Typo="Typo.h3"></MudText>
    <MudText Align="Align.Center" Typo="Typo.body1">Actually... a simple App for playing with the Blazor / Maui Features.</MudText>
    <MudText Align="Align.Center" Typo="Typo.body1">But... it does what it should do.</MudText>
</div>

@code {

}
